@charset "utf-8";

/*すべてのWebページに適用される */
body {
       margin: 0 0 0 0;
       padding: 0 0 0 0;
       background-color: #;
       color: #;
       font-family: 'Yu Gothic', sans-serif;
}
.wrapper {
       margin: 0 auto 0 auto;
       width: 900px
}
.has-border {
       border-collapse:collapse;
       border: 1px solid #b78c5f;
}
.footer {
       padding: 30px 0 30px 0;
       margin-top: 50px;
       font-size: smaller;
}
